@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #000000;
  --color-secondary: #f0f0f0;
  --color-text-main: #212121;
  --color-text-muted: #888888;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-secondary);
    color: var(--color-text-main);
    margin: 0;
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
